{
  "parser": "babel-eslint",
  "extends": [
    "airbnb"
  ],
  "globals": {
    "emojione": false
  },
  "env": {
    "browser": true
  },
  "rules": {
    "import/extensions": [2, { "css": "always", "json": "always", "svg": "always" }]
  }
}